<header class="navbar navbar-expand-lg navbar-theme bg-header shadow-sm py-2 sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="assets/images/hero/butikkoversikt.webp" alt="Butikkoversikt logo"
                class="butikkoversikt-logo me-2">
        </a>          
            <div>
                <strong class="fs-5">Butikkoversikt.no</strong><br>
                <small class="text-muted-theme">Norges oversikt over nettbutikker</small>
                <h6 class="text-muted-theme">Din guide til trygge nettbutikker</h6>
            </div>
            </a>

        <!-- Meny for mobil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            title="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html">Forside</a></li>
                <li class="nav-item"><a class="nav-link" href="kategori-mal-utforsk.html">Kategorier</a></li>
                <li class="nav-item"><a class="nav-link" href="ukens-anbefalte.html">Ukens Anbefalte</a></li>
                <li class="nav-item"><a class="nav-link" href="kampanjer.html">Kampanjer</a></li>
                <li class="nav-item"><a class="nav-link" href="guider/main-guider.html">Guider</a></li>
                <li class="nav-item"><a class="nav-link" href="kontakt.html">Kontakt oss</a></li>
            </ul>
        </div>
    </div>
    <button id="themeToggleBtn" class="btn btn-sm btn-primary"
        style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">Bytt Tema</button>
</header>
  